#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |    \    |
// |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |
// |  SHIFT  |    Z    |    X    |    C    |    V    |    B    | CTRL+A  | CTRL+C  |  |  CTRL+V |  CTRL+X |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
//                               |   GUI   |   DEL   | RETURN  |  SPACE  | ESCAPE  |  |  RETURN |  SPACE  |   TAB   |   BSPC  |  R ALT  |
            bindings = <
    &kp KP_Q    &kp KP_W    &kp KP_F        &kp KP_P        &kp KP_B      &kp KP_J         &kp KP_L            &kp KP_U             &kp KP_Y        &kp KP_SINGLE_QUOTE
    &kp KP_A    &kp KP_R    &kp KP_S        &kp KP_T        &kp KP_G      &kp KP_M         &kp KP_N            &kp KP_E             &kp KP_I        &kp KP_O
    &kp KP_Z    &kp KP_X    &kp KP_C        &kp KP_D        &kp KP_V      &kp KP_K         &kp KP_H            &kp KP_COMMA         &kp KP_PERIOD   &kp KP_SLASH
                &kp KP_A    &kp KP_ESCAPE   &kp KP_SPACE    &kp KP_TAB    &kp KP_RETURN    &kp KP_BACKSPACE    &kp KP_DELETE        &kp KP_A
            >;
        };
    };
};