endif

if SHIELD_2POCKET_LEFT

config ZMK_KEYBOARD_NAME
    default "2pocket"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_2POCKET_LEFT || SHIELD_2POCKET_RIGHT

config ZMK_SPLIT
    default y

endif